@import "tailwindcss";

@theme {
  --font-outfit: 'Outfit', sans-serif;

  --text-course-details-heading-small: 26px;
  --leading-course-details-heading-small: 36px;

  --text-course-details-heading-large: 36px;
  --leading-course-details-heading-large: 44px;

  --text-home-heading-small: 26px;
  --leading-home-heading-small: 36px;

  --text-home-heading-large: 48px;
  --leading-home-heading-large: 56px;

  --text-default: 15px;
  --leading-default: 21px;
}

body {
  font-family: var(--font-outfit);
}
